<!-- Template used in case of a '404 not found' error -->
<div class="container full-height">
	<div class="row">
		<div class="col-lg-12 text-center mb-5">
			<h2 class="green text-extra-large mb-20">404</h2>
			<h2><span class="green">PAGE NOT </span> FOUND </h2>
			<p>The page you are looking for doesn't exist or has been moved.</p>
			<a class="btn btn-primary" href="/"> Back to homepage </a>
		</div>
	</div>
</div>